<div class="col-lg-12">
  <%= form.label(:dt_number) %>
  <%= form.number_field(:dt_number, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:value_driver) %>
  <%= form.text_field(:value_driver, id: 'money', class: 'form-control form-control-user input--money', required: true) %>
</div>
<div class="col-lg-12 d-flex">
  <div class="col-lg-10">
    <%= form.label(:driver_id) %></br>
    <%= form.collection_select(:driver_id, @drivers, :id, :formatted_name, { include_blank: 'Selecione um motorista' }, { class: 'select2_single form-control', required: true} ) %>
  </div>
  <div class="col-lg-2 m-t-5">
    <% if can?(:create, Driver) %>
      <%= link_to new_driver_path(@driver), class: 'btn btn-sm btn-success btn-circle' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="col-lg-12 custom-control custom-switch">
  <%= form.label(:is_agent) %>?
  <%= form.check_box(:is_agent, class: "custom-control-input", id: "is_agent_switch") %></br>
  <label style="font-size: 13px">Não</label>
  <label class="custom-control-label switch-user" for="is_agent_switch"></label>
  <label style="font-size: 13px">Sim</label>
</div>
<div class="col-lg-12">
  <%= form.label(:cte) %>
  <%= form.file_field(:cte, key: :file, col: 'md-3', accept: 'application/xml', input_opts: { as: :select2 }, multiple: true) %>
</div>
