<% @truckload.transfer_requests.includes(:bank_account).each_with_index do |transfer_request, index| %>
  <h4>Transferência #<%= index + 1 %></h4>
  <table class="table">
    <% translated_type_cd = I18n.t(transfer_request.type_cd, scope: 'activerecord.attributes.transfer_request.types') %>
    <div class="text-center w-100" style="background: #1f497d; color: white; font-size: 20px; font-weight: bold;">
      <%= translated_type_cd if transfer_request.type_cd.present? %>
    </div>
    <tr>
      <th><%= t('.id') %></th>
      <td><%= transfer_request.id %></td>
    </tr>
    <tr>
      <th><%= t('.method') %></th>
      <td><%= I18n.t(transfer_request.method_cd, scope: 'activerecord.attributes.transfer_request.methods') if transfer_request.method_cd.present? %></td>
    </tr>
    <tr>
      <th><%= t('.transfer_value') %></th>
      <td><%= number_to_currency(transfer_request.value) %></td>
    </tr>
    <tr>
      <th><%= t('.bank_account') %></th>
      <td>
        <% if transfer_request.method_cd == 'pix' %>
          <%= transfer_request.bank_account.formatted_pix %>
        <% else %>
          <%= transfer_request.bank_account.formatted_bank_account %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= t('.status') %></th>
      <td>
        <span class="badge badge-<%= status_color(transfer_request.status_cd) %>">
          <%= I18n.t(transfer_request.status_cd, scope: 'activerecord.attributes.transfer_request.status') if transfer_request.status_cd.present? %>
        </span>
      </td>
    </tr>
    <% if transfer_request.status_cd == 'approved' && transfer_request.voucher.file.present? %>
      <tr>
        <th><%= t('.view_document') %></th>
        <td>
        <%= link_to(transfer_request.voucher.url,
                    download: "Comprovante-#{translated_type_cd}-DT-#{transfer_request.truckload.dt_number}",
                    target: '_blank',
                    rel: 'noopener') do %>
          <%= transfer_request.voucher.file.filename %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <% if transfer_request.status_cd == 'rejected' %>
      <tr>
        <th><%= t('.reject_reason') %></th>
        <td><%= transfer_request.reject_reason %></td>
      </tr>
    <% end %>
  </table>
<% end %>
