<div class="col-lg-12">
  <%= form.label(:truckload_id) %>
  <%= form.collection_select(:truckload_id, @truckloads, :id, :formatted_truckload, { include_blank: 'Selecione uma carga' }, { id:'truckloads-select', class: 'truckloads-select select2_single form-control', required: true } ) %>
</div>
<div class="col-lg-12 value-transfer-request d-none">
  <%= form.label(:value) %>
  <%= form.text_field(:value, class: 'form-control form-control-user input--money', required: true) %>
  <%= check_box_tag(:use_available, '', false) %>
  <span id="balance-truckload"></span>
</div>
<div class="col-lg-12 custom-checkbox mt-2 label-transfer-checkboxes d-none">
  <%= t('.transfer_to') %>:
</div>
<div class="col-lg-12 custom-checkbox mt-2">
  <%= form.check_box(:driver, class: 'custom-control-input') %>
  <%= form.label(:driver, id: 'driver-checkbox', class: 'custom-control-label d-none', style: 'margin-left: 24px') %>
</div>
<div class="col-lg-12 custom-checkbox">
  <%= form.check_box(:agent, class: 'custom-control-input') %>
  <%= form.label(:agent, id: 'agent-checkbox', class: 'custom-control-label d-none', style: 'margin-left: 24px') %>
</div>
<div class="col-lg-12 mt-2 bank-accounts d-none">
  <%= form.label(:bank_account) %>
  <%= form.select(:bank_account_id, [], { include_blank: 'Selecione uma conta bancária' }, { id: 'select-bank-accounts', class: 'select2_single form-control' }) %>
</div>
<div class="col-lg-12 mt-2">
  <%= form.label(:method_cd) %>
  <%= form.select(:method_cd, method_types_select, { include_blank: 'Selecione o Método de envio' }, { class: 'select2_single form-control', required: true} ) %>
</div>
<div class="col-lg-12 mt-2">
  <%= form.label(:type_cd) %>
  <%= form.select(:type_cd, transfer_types_select, { include_blank: 'Selecione o tipo de solicitação' }, { class: 'select2_single form-control', required: true} ) %>
</div>
<div class="col-lg-12 mb-2">
  <div>
    <%= form.label(:attachment) %>
  </div>
  <div>
    <%= form.file_field(:attachment, key: :file, input_opts: { as: :select2 }) %>
  </div>
</div>
<div class="col-lg-12 custom-control custom-switch">
  <%= form.label(:deduct_from_balance) %>?
  <%= form.check_box(:deduct_from_balance, checked: true, class: "custom-control-input", id: "deduct_from_balance_switch") %></br>
  <label style="font-size: 13px">Não</label>
  <label class="custom-control-label switch-user" for="deduct_from_balance_switch"></label>
  <label style="font-size: 13px">Sim</label>
</div>
<div class="col-lg-12">
  <%= form.label(:observation) %>
  <%= form.text_field(:observation, class: 'form-control form-control-user') %>
</div>
