<h5 class="text-divider">
  <span><%= t('.personal') %></span>
</h5>
<div class="col-lg-12">
  <%= form.label(:enterprise) %></br>
  <%= form.collection_select(:enterprise_id, @enterprise, :id, :formatted_enterprises, { include_blank: 'Selecione uma empresa' }, { class: 'select2_single form-control', required: true }) %>
</div>
<div class="col-lg-12">
  <%= form.label(:first_name) %>
  <%= person_form.text_field(:first_name, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:last_name) %>
  <%= person_form.text_field(:last_name, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:nickname) %>
  <%= person_form.text_field(:nickname, class: 'form-control form-control-user') %>
</div>
<div class="col-lg-12">
  <%= form.label(:birth_date) %>
  <%= person_form.date_field(:birth_date, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:phone_number) %>
  <%= person_form.text_field(:phone_number, class: 'form-control form-control-user input--phone-number') %>
</div>
<div class="col-lg-12">
  <%= form.label(:telephone_number) %>
  <%= person_form.text_field(:telephone_number, class: 'form-control form-control-user input--telephone-number', required: true) %>
</div>
<div class="col-lg-12 custom-control custom-switch">
  <%= form.label(:is_employee) %>?
  <%= form.check_box(:is_employee, class: "custom-control-input", id: "is_employee_switch") %></br>
  <label style="font-size: 13px">Não</label>
  <label class="custom-control-label switch-user" for="is_employee_switch"></label>
  <label style="font-size: 13px">Sim</label>
</div>
<div class="col-lg-12 custom-control custom-switch">
  <%= form.label(:is_blocked) %>?
  <%= form.check_box(:is_blocked, class: "custom-control-input", id: "is_blocked_switch") %></br>
  <label style="font-size: 13px">Não</label>
  <label class="custom-control-label switch-user" for="is_blocked_switch"></label>
  <label style="font-size: 13px">Sim</label>
</div>
<h5 class="text-divider">
  <span><%= t('.documents') %></span>
</h5>
<div class="col-lg-12">
  <%= form.label(:cnh_number) %>
  <%= form.number_field(:cnh_number, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:cnh_record) %>
  <%= form.number_field(:cnh_record, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:cnh_type) %>
  <%= form.select(:cnh_type, Driver::CNH_TYPES, { include_blank: 'Selecione a categoria' }, { class: 'select2_single form-control', required: true }) %>
</div>
<div class="col-lg-12">
  <%= form.label(:cnh_issuing_body) %>
  <%= form.select(:cnh_issuing_body, Address::STATES, { include_blank: 'Selecione um estado' }, { class: 'select2_single form-control', required: true }) %>
</div>
<div class="col-lg-12">
  <%= form.label(:cnh_expires_at) %>
  <%= form.date_field(:cnh_expires_at, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:document_number) %>
  <%= person_form.text_field(:document_number, class: 'form-control form-control-user input--cpf', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:rg) %>
  <%= person_form.number_field(:rg, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:rg_issuing_body) %>
  <%= person_form.text_field(:rg_issuing_body, class: 'form-control form-control-user', required: true) %>
</div>
<h5 class="text-divider">
  <span><%= t('.address') %></span>
</h5>
<div class="col-lg-12">
  <%= address_form.label(:zip_code) %>
  <%= address_form.text_field(:zip_code, class: 'form-control form-control-user input--zip-code', required: true) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:street) %>
  <%= address_form.text_field(:street, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:number) %>
  <%= address_form.number_field(:number, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:complement) %>
  <%= address_form.text_field(:complement, class: 'form-control form-control-user') %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:neighborhood) %>
  <%= address_form.text_field(:neighborhood, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:city) %>
  <%= address_form.text_field(:city, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:state) %>
  <%= address_form.select(:state, Address::STATES, { include_blank: 'Selecione um estado' }, { class: 'select2_single form-control', required: true }) %>
</div>
<div class="col-lg-12">
  <%= address_form.label(:country) %>
  <%= address_form.select(:country, Address::COUNTRIES, { include_blank: 'Selecione um país' }, { class: 'select2_single form-control', required: true }) %>
</div>
<h5 class="text-divider">
  <span><%= t('.bank_accounts') %></span>
</h5>
<div class="col-lg-12">
  <%= person_form.simple_fields_for(:bank_accounts) do |bank_account| %>
    <%= render 'bank_account_fields', f: bank_account %>
  <% end %>
  <div class="mt-5 text-center">
    <%= link_to_add_association 'Adicionar conta bancária', person_form, :bank_accounts, class: 'btn btn-success btn-cocoon-success' %>
  </div>
</div>
