<% @agent.person.bank_accounts.each_with_index do |bank_account, index| %>
  <h4>Conta bancária #<%= index + 1 %></h4>
  <table class="table">
    <tr>
      <th><%= t('agents.show.bank_account_bank_code') %></th>
      <td><%= bank_account.bank_code %></td>
    </tr>
    <tr>
      <th><%= t('agents.show.bank_account_agency') %></th>
      <td><%= bank_account.agency %></td>
    </tr>
    <tr>
      <th><%= t('agents.show.bank_account_account_number') %></th>
      <td><%= bank_account.account_number %></td>
    </tr>
    <tr>
    <tr>
      <th><%= t('agents.show.bank_account_account_name') %></th>
      <td><%= bank_account.account_name %></td>
    </tr>
      <th><%= t('agents.show.bank_account_document_number') %></th>
      <td><%= format_document_number(bank_account.document_number) %></td>
    </tr>
    <tr>
      <th><%= t('agents.show.bank_account_account_type') %></th>
      <td><%= I18n.t(bank_account.account_type_cd, scope: 'activerecord.attributes.bank_account.account_types') if bank_account.account_type_cd.present? %></td>
    </tr>
    <tr>
      <th><%= t('agents.show.bank_account_pix_key_type') %></th>
      <td><%= I18n.t(bank_account.pix_key_type_cd, scope: 'activerecord.attributes.bank_account.pix_types') if bank_account.pix_key_type_cd.present? %> </td>
    </tr>
    <tr>
      <th><%= t('agents.show.bank_account_pix_key') %></th>
      <td><%= bank_account.pix_key %></td>
    </tr>
  </table>
<% end %>

