<h5 class="text-divider">
  <span><%= t('.personal') %></span>
</h5>
<div class="col-lg-12">
  <%= form.label(:enterprise) %>
</div>
<div class="col-lg-12">
  <%= form.collection_select(:enterprise_id, @enterprise, :id, :formatted_enterprises, { include_blank: 'Selecione uma empresa' }, { class: 'select2_single form-control', required: true }) %>
</div>
<%= render 'layouts/forms/person_form', person_form: person_form %>
<h5 class="text-divider">
  <span><%= t('.address') %></span>
</h5>
<%= render 'layouts/forms/address_form', address_form: address_form %>
<h5 class="text-divider">
  <span><%= t('.bank_accounts') %></span>
</h5>
<%= render 'layouts/forms/bank_account_form', person_form: person_form %>
