<table class="table">
  <tr>
    <th><%= t('clients.show.address_zip_code') %></th>
    <td><%= @client.address.zip_code %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_street') %></th>
    <td><%= @client.address.street %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_number') %></th>
    <td><%= @client.address.number %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_complement') %></th>
    <td><%= @client.address.complement %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_neighborhood') %></th>
    <td><%= @client.address.neighborhood %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_city') %></th>
    <td><%= @client.address.city %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_state') %></th>
    <td><%= @client.address.state %></td>
  </tr>
  <tr>
    <th><%= t('clients.show.address_country') %></th>
    <td><%= @client.address.country %></td>
  </tr>
</table>
