<div class="text-center">
  <h4>
    <% if user_owner?(current_user) %>
      <%= t('.list_enterprise') %>: <%= current_user.enterprise.company_name %>
    <% elsif user_master?(current_user) %>
      <%= t('.list') %>
    <% else %>
      <%= t('.list_user') %>: <%= current_user.person.first_name %>
    <% end %>
  </h4>
</div>
<%= render layout: 'layouts/filter' do %>
  <%= search_form_for @q, url: ctes_path do |f| %>
    <div class="d-inline-flex col-md-12" style="padding-left: 0;">
      <%= f.number_field :cte_id_cont, placeholder: 'Chave de acesso', class: 'form-control mb-2 col-md-5 mr-2' %>
      <%= f.number_field :cte_number_eq, placeholder: 'Número do CT-e', class: 'form-control mb-2 col-md-3 mr-2' %>
    </div>
    <div class="d-inline-flex col-md-12" style="padding-left: 0;">
      <%= f.text_field :client_company_name_cont, placeholder: 'Razão social do cliente', class: 'form-control mb-2 col-md-2 mr-2' %>
      <%= f.number_field :client_document_number_cont, placeholder: 'CNPJ do cliente', class: 'form-control mb-2 col-md-4 mr-2' %>
      <%= f.select(:client_id_eq, clients_collection, { include_blank: 'Selecione o cliente' }, { class: 'select2_single mb-2 col-md-4 mr-2 form-control' }) %>
      <%= f.select(:emitter_eq, emitter_collection, { include_blank: 'Selecione o emissor' }, { class: 'select2_single mb-2 col-md-2 mr-2 form-control' }) %>
    </div>
    <% @ctes.pluck(:emitted_by_enterprise).uniq.each do |emitted_by_enterprise| %>
      <% if emitted_by_enterprise %>
        <div>
          <%= check_box_tag('q[emitted_by_enterprise_in][]', emitted_by_enterprise) %>
          <%= f.label("Apenas CT-e(s) emitidos pela #{current_user.enterprise.company_name}") %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div>
      <%= link_to url_for, class: 'btn btn-sm btn-secondary' do %>
        <i class="fas fa-broom"></i>
        <%= t('layouts.filter.clear') %>
      <% end %>
      <%= button_tag(class: 'btn btn-sm', style: "background-color: #{current_user.enterprise.primary_color}; color: #{current_user.enterprise.secondary_color}; border-color: #{current_user.enterprise.secondary_color}") do %>
        <i class="fas fa-search"></i>
        <%= t('layouts.filter.search') %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <table id="table" class="ui celled table">
        <thead>
          <tr class="text-center">
            <th class="no-sort"><%= sort_link @q, :cte_number, t('.cte_number') %></th>
            <th class="no-sort"><%= sort_link @q, :value, t('.value') %></th>
            <th class="no-sort"><%= t('.client') %></th>
            <th class="no-sort"><%= sort_link @q, :emitter, t('.emitter') %></th>
            <th class="no-sort"><%= sort_link @q, :created_at, t('.created_at') %></th>
            <th class="no-sort"><%= sort_link @q, :emitted_at, t('.emitted_at') %></th>
            <th class="no-sort"><%= t('.emitted_by') %>: <%= current_user.enterprise.company_name %></th>
            <th class="no-sort"><%= t('.linked_truckload') %></th>
            <% if user_owner?(current_user) || user_master?(current_user) %>
              <th class="no-sort"><%= t('.created_by') %></th>
            <% end %>
            <% if user_master?(current_user) %>
              <th class="no-sort"><%= t('.enterprise') %></th>
            <% end %>
            <th class="no-sort"></th>
          </tr>
        </thead>
        <tbody>
          <% @ctes.order(created_at: :asc).each do |cte| %>
            <tr class="text-center">
              <td><%= cte.cte_number %></td>
              <td><%= number_to_currency(cte.value) %></td>
              <td>
                <%= link_to(client_path(cte.client)) do %> 
                  <%= cte.client.formatted_name %>
                <% end %>
              </td>
              <td><%= cte.emitter %></td>
              <td><%= l(cte.created_at, format: '%d/%m/%Y às %H:%M') %></td>
              <td><%= l(cte.emitted_at, format: '%d/%m/%Y às %H:%M') %></td>
              <td class="text-center">
                <span class="badge badge-<%= boolean_color(cte.emitted_by_enterprise) %>">
                  <%= translate_boolean(cte.emitted_by_enterprise) %>
                </span>
              </td>
              </td>
              <td>
                <%= link_to truckload_path(cte.truckload.id) do %>
                  <li><%= cte.truckload.dt_number %></li>
                <% end %>
              </td>
              <% if user_owner?(current_user) || user_master?(current_user) %>
                <td>
                  <%= link_to(admins_user_path(cte.user)) do %>
                    <%= cte.user.person.first_name %> <%= cte.user.person.last_name %></td>
                <% end %>
              <% end %>
              <% if user_master?(current_user) %>
                <td><%= cte.user.enterprise.company_name %></td>
              <% end %>
              <td>
                <% if can?(:read, Cte) %>
                  <%= link_to cte_path(cte), class: 'btn btn-sm btn-dark' do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                <% end %>
                <% if can?(:destroy, Cte) %>
                  <%= link_to cte_path(cte), method: :delete, class: 'btn btn-sm btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{cte.cte_number} associado a carga #{cte.truckload.dt_number}?"} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @ctes %>
    </div>
  </div>
</div>
