<div class="text-center">
  <h4><%= t('.new') %></h4>
</div>
<div class="container h-100">
  <%= render partial: 'ctes/components/errors' %>
  <div class="d-flex justify-content-center h-100">
    <div class="user-card-form">
      <%= form_with(model: [@cte], local: true) do |form| %>
        <%= render partial: 'ctes/components/form',
                   locals: { form: form } %>
        <div class="row btn-actions">
          <div class="col-lg-6 mt-3">
            <%= link_to t('.cancel'), ctes_path, class: 'btn btn-sm btn-danger btn-user btn-block' %>
          </div>
          <div class="col-lg-6 mt-3">
            <button class="btn btn-primary btn-user btn-block">
              <%= t('.create') %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
