<div class="col-xs-12 text-center">
  <h4><%= t('.view') %>: <%= @cte.cte_number %></h4>
</div>
<div class="col-xs-12 mb-2">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-sm  btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
  <% if can?(:destroy, Cte) %>
    <%= link_to cte_path(@cte),
                method: :delete,
                class: 'btn btn-sm btn-danger',
                data: { confirm: "#{t('.delete_confirm')}: #{@cte.cte_number} - #{number_to_currency(@cte.value)}?" } do %>
      <i class="fas fa-trash"></i>
      <%= t('.delete') %>
    <% end %>
  <% end %>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" id="general-info" href="#general" data-toggle="tab">
              <%= t('.general') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="emitter-info" href="#emitter" data-toggle="tab">
              <%= t('.emitter_info') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="client-info" href="#client" data-toggle="tab">
              <%= t('.client') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="general">
            <%= render partial: 'ctes/components/general_information' %>
          </div>
          <div class="tab-pane fade" id="emitter">
            <%= render partial: 'ctes/components/emitter_information' %>
          </div>
          <div class="tab-pane fade" id="client">
            <%= render partial: 'ctes/components/client' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
