<table class="table">
  <tr>
    <th><%= t('admins.users.show.document_number') %></th>
    <td><%= @user.person.document_number.to_br_cpf %></td>
  </tr>
  <tr>
    <th><%= t('admins.users.show.rg') %></th>
    <td><%= @user.person.rg %></td>
  </tr>
  <tr>
    <th><%= t('admins.users.show.rg_issuing_body') %></th>
    <td><%= @user.person.rg_issuing_body %></td>
  </tr>
</table>
