<div class="text-center">
  <h4><%= t('.list') %></h4>
</div>
<%= render layout: 'layouts/filter' do %>
  <%= search_form_for @q, url: clients_path do |f| %>
    <div class="d-inline-flex col-md-12" style="padding-left: 0;">
      <%= f.text_field :company_name_cont, placeholder: 'Razão social', class: 'form-control col-md-2 mb-2 mr-2' %>
      <%= f.text_field :fantasy_name_cont, placeholder: 'Nome fantasia', class: 'form-control col-md-2 mb-2 mr-2' %>
      <%= f.select(:address_state_eq, Address::STATES, { include_blank: 'Selecione um estado' }, { class: 'select2_single mb-2 col-md-2 mr-2 form-control', required: true }) %>
      <%= f.number_field :document_number_cont, placeholder: 'CPF/CNPJ', class: 'form-control mb-2 col-md-6 mr-2' %>
    </div>
    <hr>
    <div>
      <%= link_to url_for, class: 'btn btn-sm btn-secondary' do %>
        <i class="fas fa-broom"></i>
        <%= t('layouts.filter.clear') %>
      <% end %>
      <%= button_tag(class: 'btn btn-sm', style: "background-color: #{current_user.enterprise.primary_color}; color: #{current_user.enterprise.secondary_color}; border-color: #{current_user.enterprise.secondary_color}") do %>
        <i class="fas fa-search"></i>
        <%= t('layouts.filter.search') %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <table id="table" class="ui celled table">
        <thead>
          <tr>
            <th><%= t('.id') %></th>
            <th><%= t('.company_name') %></th>
            <th><%= t('.fantasy_name') %></th>
            <th><%= t('.address_state') %></th>
            <th><%= t('.address_city') %></th>
            <th><%= t('.document_number') %></th>
            <% if user_master?(current_user) %>
              <th><%= t('.enterprise') %></th>
            <% end %>
            <th class="no-sort table-buttons">
              <% if can?(:create, Client) %>
                <%= link_to new_client_path(@client), class: 'btn btn-sm btn-success btn-circle' do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
            </th>
          </thead>
          <tbody>
          <% @clients.each do |client| %>
            <tr>
              <td><%= client.id %></td>
              <td><%= client.company_name %></td>
              <td><%= client.fantasy_name %></td>
              <td><%= client.address.state %></td>
              <td><%= client.address.city %></td>
              <td><%= client.document_number.to_br_cnpj %></td>
              <% if user_master?(current_user) %>
                <td><%= client.enterprise.company_name %></td>
              <% end %>
              <td class="table-buttons">
                <% if can?(:read, Client) %>
                  <%= link_to client_path(client), class: 'btn btn-sm btn-dark' do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                <% end %>
                <% if can?(:update, Client) %>
                  <%= link_to edit_client_path(client), class: 'btn btn-sm btn-info btn-circle' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
                <% if can?(:destroy, Client) %>
                  <%= link_to client_path(client), method: :delete, class: 'btn btn-sm btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{client.company_name}?"} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @clients %>
    </div>
  </div>
</div>
