<div class="col-lg-12">
  <%= form.label(:kind_cd) %>
  <% if user_master?(current_user) %>
    <%= form.select(:kind_cd,
                    User::Role::KINDS.map { |kind| I18n.t(kind, scope: 'activerecord.attributes.user/role.kinds')},
                    { include_blank: 'Selecione uma regra de usuário' }, { class: 'select2_single form-control' }) %>
  <% else %>
    <%= form.select(:kind_cd,
                    User::Role::KINDS_CLIENT.map { |kind| I18n.t(kind, scope: 'activerecord.attributes.user/role.kinds')},
                    { include_blank: 'Selecione uma regra de usuário' }, { class: 'select2_single form-control' }) %>
  <% end %>
</div>
<% if current_page?(new_user_role_path) || request.method == 'POST' || user_master?(current_user) %>
  <div class="col-lg-12">
    <%= form.label(:enterprise_id) %>
    <%= form.collection_select(:enterprise_id, @enterprises, :id, :formatted_enterprises, {}, { class: 'select2_single form-control', required: true }) %>
  </div>
  <div class="col-lg-12">
    <%= form.label(:user_id) %>
    <% if user_master?(current_user) %>
      <%= form.collection_select(:user_id, @users, :id, :full_information, {}, { class: 'select2_single form-control', required: true }) %>
    <% else %>
      <%= form.collection_select(:user_id, @users, :id, :full_name, {}, { class: 'select2_single form-control', required: true }) %>
    <% end %>
  </div>
<% end %>
