<div class="text-center">
  <h4><%= t('.registered_users') %></h4>
</div>
<%= render partial: 'layouts/filter', locals: { url: admins_users_path } %>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table id="table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t('.name')%></th>
                <th><%= t('.nickname')%></th>
                <th><%= t('.document_number')%></th>
                <th><%= t('.email')%></th>
                <th><%= t('.function')%></th>
                <th class="no-sort table-buttons">
                  <%= link_to new_admins_user_path(@user), class: 'btn btn-success btn-circle' do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.first_name %> <%= user.last_name %></td>
                  <td><%= user.nickname %></td>
                  <td><%= format_document_number(user.document_number) %></td>
                  <td><%= user.email %></td>
                  <td class="text-center">
                    <span class="badge badge-<%= function_color(user.is_active, user.is_admin, user.is_super_admin) %>" style="width: 100%">
                      <%= function_translate(user.is_active, user.is_admin, user.is_super_admin) %>
                    </span>
                  </td>
                  <td class="table-buttons">
                    <%= link_to edit_admins_user_path(user), class: 'btn btn-info btn-circle' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admins_user_path(user),
                        method: :delete,
                        class: 'btn btn-danger btn-circle',
                        data: { confirm: "#{t('.delete_confirm')}: #{user.first_name} #{user.last_name}?" } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#table').DataTable({
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false,
      }],
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json"
      }
    });
  });
</script>
