<div class="text-center mt-2">
  <h4><%= t('.registered_users') %></h4>
</div>
<%= render layout: 'layouts/filter' do %>
  <%= search_form_for @q, url: admins_users_path do |f| %>
    <div class="d-inline-flex col-md-12" style="padding-left: 0;">
      <%= f.text_field :person_first_name_cont, placeholder: 'Primeiro Nome', class: 'form-control mb-2 col-md-2 mr-2' %>
      <%= f.text_field :email_cont, placeholder: 'E-mail', class: 'form-control mb-2 col-md-4 mr-2' %>
      <%= f.number_field :person_document_number_cont, placeholder: 'CPF/CNPJ', class: 'form-control mb-2 col-md-2 mr-2' %>
    </div>
    <% if can?(:manage, Enterprise) %>
      <%= f.select :enterprise_id_eq, enterprises_collection, { include_blank: 'Selecione a empresa' }, class: 'form-control col-md-12 mb-1' %>
    <% end %>
    <% @users.pluck(:is_active).each do |is_active| %>
      <% if is_active %>
        <div>
          <%= check_box_tag('q[is_active_in][]', is_active) %>
          <%= f.label('Apenas ativos') %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <div>
      <%= link_to url_for, class: 'btn btn-sm btn-secondary' do %>
        <i class="fas fa-broom"></i>
        <%= t('layouts.filter.clear') %>
      <% end %>
      <%= button_tag(class: 'btn btn-sm', style: "background-color: #{current_user.enterprise.primary_color}; color: #{current_user.enterprise.secondary_color}; border-color: #{current_user.enterprise.secondary_color}") do %>
        <i class="fas fa-search"></i>
        <%= t('layouts.filter.search') %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <table id="table" class="ui celled table">
        <thead>
          <tr class="text-center">
            <th class="no-sort"><%= sort_link @q, :id, t('.id'), default_order: :desc %></th>
            <th class="no-sort"><%= sort_link @q, :first_name, t('.name') %></th>
            <th class="no-sort"><%= sort_link @q, :nickname, t('.nickname') %></th>
            <th class="no-sort"><%= t('.document_number') %></th>
            <th class="no-sort"><%= t('.email') %></th>
            <th class="no-sort"><%= t('.roles') %></th>
            <% if user_master?(current_user) %>
              <th class="no-sort"><%= t('.enterprise')%></th>
            <% end %>
            <th class="no-sort"><%= t('.actived')%>?</th>
            <th class="no-sort table-buttons">
              <% if can?(:create, User) %>
                <%= link_to new_admins_user_path(@user), class: 'btn btn-sm btn-success btn-circle', id: 'create-new-user' do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.order(created_at: :desc).each do |user| %>
            <tr class="text-center">
              <td><%= user.id %></td>
              <td><%= user.person.first_name %> <%= user.person.last_name %></td>
              <td><%= user.person.nickname %></td>
              <td><%= format_document_number(user.person.document_number) %></td>
              <td><%= user.email %></td>
              <td><%= I18n.t(user.all_roles, scope: 'activerecord.attributes.user/role.kinds').join(', ') %></td>
              <% if user_master?(current_user) %>
                <td><%= user.enterprise.company_name %></td>
              <% end %>
              <td class="text-center">
                <span class="badge badge-<%= boolean_color(user.is_active) %>">
                  <%= translate_boolean(user.is_active) %>
                </span>
              </td>
              <td class="table-buttons">
                <% if can?(:read, User) %>
                  <%= link_to admins_user_path(user), id: "show-user-#{user.id}", class: 'btn btn-sm btn-dark' do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                <% end %>
                <% if can?(:update, User) %>
                  <%= link_to edit_admins_user_path(user), id: "edit-user-#{user.id}", class: 'btn btn-sm btn-info btn-circle' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
                <% if can?(:destroy, User) %>
                  <%= link_to admins_user_path(user),
                      id: "delete-user-#{user.id}",
                      method: :delete,
                      class: 'btn btn-sm btn-danger btn-circle swal_alert',
                      data: { confirm: "#{t('.delete_confirm')}: #{user.person.first_name} #{user.person.last_name}?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
