<div class="text-center">
  <h4><%= t('.registered_users') %></h4>
</div>
<%= render partial: 'layouts/filter', locals: { url: admins_users_path } %>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table id="table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t('.name')%></th>
                <th><%= t('.nickname')%></th>
                <th><%= t('.document_number')%></th>
                <th><%= t('.email')%></th>
                <th><%= t('.roles')%></th>
                <% if user_master?(current_user) %>
                  <th><%= t('.enterprise')%></th>
                <% end %>
                <th class="no-sort table-buttons">
                  <% if can?(:create, User) %>
                    <%= link_to new_admins_user_path(@user), class: 'btn btn-success btn-circle' do %>
                      <i class="fas fa-plus"></i>
                    <% end %>
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.first_name %> <%= user.last_name %></td>
                  <td><%= user.nickname %></td>
                  <td><%= format_document_number(user.document_number) %></td>
                  <td><%= user.email %></td>
                  <td><%= user.all_roles %></td>
                  <% if user_master?(current_user) %>
                    <td><%= user.enterprise.company_name %></td>
                  <% end %>
                  <td class="table-buttons">
                    <% if can?(:update, User) %>
                      <%= link_to edit_admins_user_path(user), class: 'btn btn-info btn-circle' do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                    <% end %>
                    <% if can?(:destroy, User) %>
                      <%= link_to admins_user_path(user),
                          method: :delete,
                          class: 'btn btn-danger btn-circle',
                          data: { confirm: "#{t('.delete_confirm')}: #{user.first_name} #{user.last_name}?" } do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
