<div class="col-xs-12 text-center">
  <h4><%= t('.view') %>: <%= @user.person.full_name %></h4>
</div>
<div class="col-xs-12 mb-2">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-sm  btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
  <% if can?(:update, User) %>
    <%= link_to edit_admins_user_path(@user), id: "edit-user-#{@user.id}", class: 'col-xs-3 btn btn-info btn-sm  ' do %>
      <i class="fas fa-edit"></i>
      <%= t('.edit') %>
    <% end %>
  <% end %>
  <% if can?(:destroy, User) %>
    <%= link_to admins_user_path(@user),
                id: "delete-user-#{@user.id}",
                method: :delete,
                class: 'btn btn-sm btn-danger',
                data: { confirm: "#{t('.delete_confirm')}: #{@user.person.first_name} #{@user.person.last_name}?" } do %>
      <i class="fas fa-trash"></i>
      <%= t('.delete') %>
    <% end %>
  <% end %>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" id="personal-menu" href="#personal" data-toggle="tab">
              <%= t('.personal') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="document-menu" href="#document" data-toggle="tab">
              <%= t('.document') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="address-menu" href="#address" data-toggle="tab">
              <%= t('.address') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="personal">
            <%= render partial: 'admins/users/components/personal_information' %>
          </div>
          <div class="tab-pane fade show" id="document">
            <%= render partial: 'admins/users/components/document' %>
          </div>
          <div class="tab-pane fade" id="address">
            <%= render partial: 'admins/users/components/address' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
