<div class="text-center">
  <h4><%= t('.registered_enterprises') %></h4>
</div>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <table id="table" class="ui celled table">
        <thead>
          <tr>
            <th><%= t('.id')%></th>
            <th><%= t('.company_name')%></th>
            <th><%= t('.fantasy_name')%></th>
            <th><%= t('.document_number')%></th>
            <th><%= t('.email')%></th>
            <th><%= t('.primary_color')%></th>
            <th><%= t('.secondary_color')%></th>
            <th><%= t('.users_count')%></th>
            <th><%= t('.actived')%></th>
            <th class="no-sort table-buttons">
              <%= link_to new_super_admins_enterprise_path(@enterprise), class: 'btn btn-sm btn-success btn-circle' do %>
                <i class="fas fa-plus"></i>
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @enterprises.each do |enterprise| %>
            <tr>
              <td><%= enterprise.id %></td>
              <td><%= enterprise.company_name %></td>
              <td><%= enterprise.fantasy_name %></td>
              <td><%= format_document_number(enterprise.document_number) %></td>
              <td><%= enterprise.email %></td>
              <td class="text-center">
                <span class="badge" style="background-color: <%= enterprise.primary_color %>">
                  <%= enterprise.primary_color %>
                </span>
              </td>
              <td class="text-center">
                <span class="badge" style="background-color: <%= enterprise.primary_color %>; color: <%= enterprise.secondary_color %>">
                  <%= enterprise.secondary_color %>
                </span>
              </td>
              <td><%= enterprise.users.count %></td>
              <td class="text-center">
                <span class="badge badge-<%= boolean_color(enterprise.is_active) %>">
                  <%= translate_boolean(enterprise.is_active) %>
                </span>
              </td>
              <td class="table-buttons">
                <% if can?(:update, Enterprise) %>
                  <%= link_to edit_super_admins_enterprise_path(enterprise), class: 'btn btn-sm btn-info btn-circle' do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
                <% if can?(:destroy, Enterprise) %>
                  <%= link_to super_admins_enterprise_path(enterprise),
                              method: :delete,
                              class: 'btn btn-sm btn-danger btn-circle',
                              data: { confirm: "#{t('.delete_confirm')}: #{enterprise.company_name}?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @enterprises %>
    </div>
  </div>
</div>
