<div class="text-center">
  <h4>
    <%= t('.editing') %>:
    <% if @user_role.kind_cd.present? && @user_role.user.present? %>
      <%= I18n.t(@user_role.kind_cd, scope: 'activerecord.attributes.user/role.kinds') %> do(a) <%= @user_role.user.person.full_name %>
    <% end %>
  </h4>
</div>
<div class="container h-100">
  <%= render partial: 'user/roles/components/errors' %>
  <div class="d-flex justify-content-center h-100">
    <div class="user-card-form">
      <%= form_with(model: [@user_role], local: true) do |form| %>
        <%= render partial: 'user/roles/components/form',
                   locals: { form: form } %>
        <div class="row btn-actions">
          <div class="col-lg-6 mt-3">
            <%= link_to t('.cancel'), user_roles_path, class: 'btn btn-sm btn-danger btn-user btn-block' %>
          </div>
          <div class="col-lg-6 mt-3">
            <button id="update_user_role" class="btn btn-primary btn-sm btn-block">
              <%= t('.edit') %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
