<div class="col-xs-12 text-center">
  <h4><%= t('.view') %>: <%= @transfer_request.id %></h4>
</div>
<div class="col-xs-12 mb-2">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-sm  btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
</div>
<div class="p-3">
  <div class="row">
    <table class="table table-bordered">
      <span class="text-center w-100" style="background: #1f497d; color: white; font-size: 20px; font-weight: bold;">
        <%= I18n.t(@transfer_request.type_cd, scope: 'activerecord.attributes.transfer_request.types') if @transfer_request.type_cd.present? %>
      </span>
      <tr>
        <th><%= t('.destiny') %></th>
        <td>
          <%= @transfer_request.truckload.ctes.map { |k, _| "#{k.destiny_city} - #{k.destiny_state}"}.join(', ') %>
        </td>
      </tr>
      <tr>
        <th><%= t('.client') %></th>
        <td><%= @transfer_request.truckload.client&.company_name %></td>
      </tr>
      <tr>
        <th><%= t('.cte_number') %></th>
        <td>
          <% @transfer_request.truckload.ctes.each do |cte| %>
            <%= link_to cte_path(cte.id) do %>
              <li><%= cte.cte_number %></li>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('.driver') %></th>
        <td><%= link_to(@transfer_request.truckload.driver.person.full_name, driver_path(@transfer_request.truckload.driver)) %></td>
      </tr>
      <tr>
        <th><%= t('.request_by') %></th>
        <td><%= link_to(@transfer_request.truckload.user.person.full_name, admins_user_path(@transfer_request.truckload.user)) %></td>
      </tr>
      <tr>
        <th><%= t('.truckload_value') %></th>
        <td class="td-value-driver"><%= number_to_currency(@transfer_request.truckload.value_driver) %></td>
      </tr>
      <tr>
        <th><%= t('.value_transfer') %></th>
        <td class="td-value-transfer"><%= number_to_currency(@transfer_request.value) %></td>
      </tr>
      <tr>
        <th><%= t('.balance') %></th>
        <td style="background-color: <%= (@transfer_request.truckload.balance_value_driver - @transfer_request.value).positive? ? '#ffff00' : '#da9694' %>;">
          <%= number_to_currency(@transfer_request.truckload.balance_value_driver - @transfer_request.value) %>
        </td>
      </tr>
    </table>
    <table class="table table-bordered">
      <span class="text-center w-100" style="background: #1f497d; color: white; font-size: 20px; font-weight: bold;">
        <%= t('.bank_account_info') %>
      </span>
      <tr>
        <th><%= t('.transfer_type') %></th>
        <td><%= I18n.t(@transfer_request.method_cd, scope: 'activerecord.attributes.transfer_request.methods') if @transfer_request.method_cd.present? %></td>
      </tr>
      <% if @transfer_request.method_cd == 'pix' %>
        <tr>
          <th><%= t('.pix_key_type') %></th>
          <td><%= I18n.t(@transfer_request.bank_account.pix_key_type_cd, scope: 'activerecord.attributes.bank_account.pix_types') if @transfer_request.bank_account.pix_key_type_cd.present? %></td>
        </tr>
        <tr>
          <th><%= t('.pix_key') %></th>
          <td><%= @transfer_request.bank_account.pix_key %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= t('.account_name') %></th>
        <td><%= @transfer_request.bank_account.account_name %></td>
      </tr>
      <tr>
        <th><%= t('.document_number') %></th>
        <td><%= format_document_number(@transfer_request.bank_account.document_number) %></td>
      </tr>
      <tr>
        <th><%= t('.bank_code') %></th>
        <td><%= @transfer_request.bank_account.bank_code %></td>
      </tr>
      <tr>
        <th><%= t('.agency') %></th>
        <td><%= @transfer_request.bank_account.agency %></td>
      </tr>
      <tr>
        <th><%= t('.account_number') %></th>
        <td><%= @transfer_request.bank_account.account_number %></td>
      </tr>
      <tr>
        <th><%= t('.type') %></th>
        <td><%= I18n.t(@transfer_request.bank_account.account_type_cd, scope: 'activerecord.attributes.bank_account.account_types') if @transfer_request.bank_account.account_type_cd.present? %></td>
      </tr>
    </table>
  </div>
</div>
