<div class="d-flex" id="wrapper">
  <div class="border-right" id="sidebar-wrapper" style="background-color: <%= current_user.enterprise.primary_color %>; width: 14.6rem;">
    <div class="sidebar-heading text-center">
      <%= image_tag(current_user.enterprise.logo.url, style: 'max-height: 110px; max-width: 150px;') if current_user.enterprise.logo.present? %>
    </div>
    <div class="list-group list-group-flush" style="color: <%= current_user.enterprise.secondary_color %>; font-size: 14px;">
      <%= render partial: 'layouts/components/menu' %>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn rounded-circle border-0"
              style="background-color: <%= current_user.enterprise.primary_color %>;
                     color: <%= current_user.enterprise.secondary_color %>;"
              id="menu-toggle">
        <i id="icon-menu" class="fas fa-chevron-left"></i>
      </button>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="font-size: 13px;">
            <%= render partial: 'layouts/components/dropdown_options' %>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>
<script>
  <%= render partial: 'notification', formats: [:js],
             locals: {
               title: @notify_title,
               confirm_button_text: @notify_confirm_button_text,
               show_cancel_button: @show_cancel_button,
               cancel_button_text: @notify_cancel_button_text,
               confirm_path_ajax: @confirm_path_ajax
             } %>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");

    let classes = document.getElementById('icon-menu').classList

    if (classes.contains('fa-chevron-left')) {
      classes.add("fa-bars")
      classes.remove("fa-chevron-left")
    } else {
      classes.add("fa-chevron-left")
      classes.remove("fa-bars")
    }
  });
</script>
