<%= link_to dashboard_index_path, class: "#{'active-menu' if request.path.include?(dashboard_index_path)} list-item-menu list-group-item-action",
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color}",
                                  id: 'dashboard' do %>
  <div style="display: inline-flex">
    <div style="width: 25px;">
      <i class="fas fa-chart-bar"></i>
    </div>
    <span><%= t('layouts.application.dashboard') %></span>
  </div>
<% end %>
<% if can?(:read, Truckload) || can?(:read, Cte) %>
  <div class="text-center">
    <%= t('layouts.application.operational') %>
  </div>
<% end %>
<% if can?(:read, Truckload) %>
  <%= link_to truckloads_index_path, class: "#{'active-menu' if request.path.include?(truckloads_path)} list-item-menu list-group-item-action",
                                     style: "color: #{current_user.enterprise.secondary_color};
                                             background-color: #{current_user.enterprise.primary_color}",
                                     id: 'truckloads' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-truck"></i>
      </div>
      <span><%= t('layouts.application.truckload') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, Cte) %>
  <%= link_to ctes_index_path, class: "#{'active-menu' if request.path.include?(ctes_path)} list-item-menu list-group-item-action",
                               style: "color: #{current_user.enterprise.secondary_color};
                                       background-color: #{current_user.enterprise.primary_color}",
                               id: 'ctes' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-file"></i>
      </div>
      <span><%= t('layouts.application.cte') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, User) || can?(:read, Client) || can?(:read, Enterprise) || can?(:read, User::Role) || can?(:read, Driver) %>
  <div class="text-center">
    <%= t('layouts.application.register') %>
  </div>
<% end %>
<% if can?(:read, User) %>
  <%= link_to admins_users_index_path, class: "#{'active-menu' if request.path.include?(admins_users_path)} list-item-menu list-group-item-action",
                                       style: "color: #{current_user.enterprise.secondary_color};
                                               background-color: #{current_user.enterprise.primary_color}",
                                       id: 'users' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-users"></i>
      </div>
      <span><%= t('layouts.application.users') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, User::Role) %>
  <%= link_to user_roles_index_path, class: "#{'active-menu' if request.path.include?(user_roles_path)} list-item-menu list-group-item-action",
                                     style: "color: #{current_user.enterprise.secondary_color};
                                             background-color: #{current_user.enterprise.primary_color}",
                                     id: 'user_roles' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-users-cog"></i>
      </div>
      <span><%= t('layouts.application.user_roles') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, Client) %>
  <%= link_to clients_index_path, class: "#{'active-menu' if request.path.include?(clients_path)} list-item-menu list-group-item-action",
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color}",
                                  id: 'clients' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-building"></i>
      </div>
      <span><%= t('layouts.application.clients') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, Driver) %>
  <%= link_to drivers_index_path, class: "#{'active-menu' if request.path.include?(drivers_path)} list-item-menu list-group-item-action",
                                  style: "color: #{current_user.enterprise.secondary_color};
                                          background-color: #{current_user.enterprise.primary_color}",
                                  id: 'drivers' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-user"></i>
      </div>
      <span><%= t('layouts.application.drivers') %></span>
    </div>
  <% end %>
<% end %>
<% if can?(:read, Enterprise) %>
  <%= link_to super_admins_enterprises_index_path, class: "#{'active-menu' if request.path.include?(super_admins_enterprises_path)} list-item-menu list-group-item-action",
                                                   style: "color: #{current_user.enterprise.secondary_color};
                                                           background-color: #{current_user.enterprise.primary_color}",
                                                   id: 'enterprises' do %>
    <div style="display: inline-flex">
      <div style="width: 25px;">
        <i class="fas fa-building"></i>
      </div>
      <span><%= t('layouts.application.company') %></span>
    </div>
  <% end %>
<% end %>

<style>
  .active-menu {
    background-color: <%= current_user.enterprise.secondary_color %> !important;
    color: <%= current_user.enterprise.primary_color %> !important;
  }

  a.list-item-menu:hover {
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-link.active {
    background-color: <%= current_user.enterprise.primary_color %> !important;
    color: <%= current_user.enterprise.secondary_color %> !important;
    border: 1px solid <%= current_user.enterprise.secondary_color %> !important;
  }

  .nav-link {
    color: <%= current_user.enterprise.secondary_color %> !important;
  }

  .page-link {
    margin-top: 20px;
    color: <%= current_user.enterprise.secondary_color %> !important;
    background-color: <%= current_user.enterprise.primary_color %> !important;
    border-color: <%= current_user.enterprise.secondary_color %> !important;
  }

  .page-item.active .page-link {
    color: <%= current_user.enterprise.primary_color %> !important;
    background-color: <%= current_user.enterprise.secondary_color %> !important;
  }
</style>
