<div class="text-center">
  <h4>
    <% if user_owner?(current_user) %>
      <%= t('.list_enterprise') %>: <%= current_user.enterprise.company_name %>
    <% elsif user_master?(current_user) %>
      <%= t('.list') %>
    <% else %>
      <%= t('.list_user') %>: <%= current_user.person.first_name %>
    <% end %>
  </h4>
</div>
<%= render layout: 'layouts/filter' do %>
  <%= search_form_for @q, url: truckloads_path do |f| %>
    <div class="d-inline-flex col-md-12" style="padding-left: 0;">
      <%= f.number_field :dt_number_eq, placeholder: 'Número da DT', class: 'form-control mb-2 col-md-2 mr-2' %>
      <%= f.text_field :client_company_name_cont, placeholder: 'Razão social do cliente', class: 'form-control mb-2 col-md-3 mr-2' %>
      <%= f.number_field :client_document_number_cont, placeholder: 'CNPJ do cliente', class: 'form-control mb-2 col-md-4 mr-2' %>
      <%= f.select(:client_id_eq, clients_collection, { include_blank: 'Selecione o cliente' }, { class: 'select2_single mb-2 col-md-3 mr-2 form-control' }) %>
    </div>
    <hr>
    <div>
      <%= link_to url_for, class: 'btn btn-sm btn-secondary' do %>
        <i class="fas fa-broom"></i>
        <%= t('layouts.filter.clear') %>
      <% end %>
      <%= button_tag(class: 'btn btn-sm', style: "background-color: #{current_user.enterprise.primary_color}; color: #{current_user.enterprise.secondary_color}; border-color: #{current_user.enterprise.secondary_color}") do %>
        <i class="fas fa-search"></i>
        <%= t('layouts.filter.search') %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <table id="table" class="ui celled table">
        <thead>
          <tr class="text-center">
            <th class="no-sort"><%= sort_link @q, :dt_number, t('.dt_number') %></th>
            <th class="no-sort"><%= t('.client') %></th>
            <th class="no-sort"><%= t('.value') %></th>
            <th class="no-sort"><%= t('.value_driver') %></th>
            <th class="no-sort"><%= sort_link @q, :is_agent, t('.is_agent') %>?</th>
            <th class="no-sort"><%= sort_link @q, :created_at, t('.created_at') %></th>
            <th class="no-sort"><%= t('.cte') %></th>
            <th class="no-sort"><%= t('.qtd_cte') %></th>
            <th class="no-sort"><%= t('.driver') %></th>
            <% if user_owner?(current_user) || user_master?(current_user) %>
              <th class="no-sort"><%= sort_link @q, :created_by, t('.created_by') %></th>
            <% end %>
            <% if user_master?(current_user) %>
              <th class="no-sort"><%= t('.enterprise') %></th>
            <% end %>
            <th class="no-sort table-buttons">
              <% if can?(:create, Truckload) %>
                <%= link_to new_truckload_path(@truckload), class: 'btn btn-sm btn-success btn-circle' do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
            </th>
        </thead>
        <tbody>
          <% @truckloads.order(created_at: :desc).each do |truckload| %>
            <tr class="text-center">
              <td><%= truckload.dt_number %></td>
              <td>
                <% if truckload.client.present? %>
                  <%= link_to(client_path(truckload.client)) do %>
                    <%= truckload.client.company_name %> - <%= truckload.client.address.state %> | <%= truckload.client.document_number.to_br_cnpj %>
                  <% end %>
                <% end %>
              </td>
              <td><%= number_to_currency(truckload.truckload_value) %></td>
              <td><%= number_to_currency(truckload.value_driver) %></td>
              <td class="text-center">
                <span class="badge badge-<%= agent_color(truckload.is_agent) %>">
                  <%= translate_boolean(truckload.is_agent) %>
                </span>
              </td>
              <td><%= l(truckload.created_at, format: '%d/%m/%Y às %H:%M') %></td>
              <% if truckload.ctes.present? %>
                <td>
                  <a href="#" data-toggle="modal" data-target="#truckload-<%= truckload.id %>">
                    <%= t('.view_cte') %>
                  </a>
                  <div id="truckload-<%= truckload.id %>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title"><%= t('.linked_cte') %>: <%= truckload.dt_number %></h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                        <% truckload.ctes.each do |cte| %>
                          <%= link_to cte_path(cte.id) do %>
                            <li><%= cte.cte_number %> - <%= number_to_currency(cte.value) %></li>
                          <% end %>
                        <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark" data-dismiss="modal"><%= t('.close') %></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              <% else %>
                <td><%= t('.no_cte') %></td>
              <% end %>
              <td><%= truckload.ctes_numbers.count %></td>
              <td><%= link_to(truckload.driver.person.full_name, driver_path(truckload.driver)) %></td>
              <% if user_owner?(current_user) || user_master?(current_user) %>
                <td>
                  <%= link_to(admins_user_path(truckload.user)) do %>
                    <%= truckload.user.person.first_name %> <%= truckload.user.person.last_name %>
                  <% end %>
                </td>
              <% end %>
              <% if user_master?(current_user) %>
                <td><%= truckload.user.enterprise.company_name %></td>
              <% end %>
              <td>
                <% if can?(:read, Truckload) %>
                  <%= link_to truckload_path(truckload), class: 'btn btn-sm btn-dark' do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                <% end %>
                <% if can?(:update, Truckload) %>
                  <%= link_to edit_truckload_path(truckload), class: 'btn btn-sm btn-info btn-circle' do %>
                    <i class="fas fa-edit"></i>  
                  <% end %>
                <% end %>
                <% if can?(:destroy, Truckload) %>
                  <%= link_to truckload_path(truckload), method: :delete, class: 'btn btn-sm btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{truckload.dt_number}?"} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @truckloads %>
    </div>
  </div>
</div>
