<div class="col-xs-12 text-center">
  <h4><%= t('.view') %>: <%= @truckload.dt_number %></h4>
</div>
<div class="col-xs-12 mb-2 no-print">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-sm  btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
  <% if can?(:update, Truckload) %>
    <%= link_to edit_truckload_path(@truckload), class: 'col-xs-3 btn btn-info btn-sm  ' do %>
      <i class="fas fa-edit"></i>
      <%= t('.edit') %>
    <% end %>
  <% end %>
  <% if can?(:destroy, Truckload) %>
    <%= link_to truckload_path(@truckload),
                method: :delete,
                class: 'btn btn-sm btn-danger',
                data: { confirm: "#{t('.delete_confirm')}: #{@truckload.dt_number}?" } do %>
      <i class="fas fa-trash"></i>
      <%= t('.delete') %>
    <% end %>
  <% end %>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#general" data-toggle="tab">
              <%= t('.general') %>
            </a>
          </li>
          <% if @truckload.client.present? %>
            <li class="nav-item">
              <a class="nav-link" href="#client" data-toggle="tab">
                <%= t('.client') %>
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#driver" data-toggle="tab">
              <%= t('.driver') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="example-pill-vertical2" href="#transfers" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false">
              <%= t('.transfers') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="general">
            <%= render partial: 'truckloads/components/general_information' %>
          </div>
          <% if @truckload.client.present? %>
            <div class="tab-pane fade" id="client">
              <%= render partial: 'truckloads/components/client' %>  
            </div>
          <% end %>
          <div class="tab-pane fade" id="driver">
            <%= render partial: 'truckloads/components/driver' %>
          </div>
          <div class="tab-pane fade transfer-request" id="transfers" role="tabpanel" aria-labelledby="example-pill-vertical">
            <% if @truckload.transfer_requests.present? %>
              <%= render partial: 'truckloads/components/transfers' %>
            <% else %>
              <h4>Carga não possui solicitação de transferência cadastrada</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  th {
    width: 25% !important;
  }

  td {
    width: 75% !important;
  }
</style>
