<div class="col-xs-12 text-center">
  <h4><%= t('.view') %>: <%= @truckload.dt_number %></h4>
</div>
<div class="col-xs-12 mb-2">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-sm  btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
  <% if can?(:update, Truckload) %>
    <%= link_to edit_truckload_path(@truckload), class: 'col-xs-3 btn btn-info btn-sm  ' do %>
      <i class="fas fa-edit"></i>
      <%= t('.edit') %>
    <% end %>
  <% end %>
  <% if can?(:destroy, Truckload) %>
    <%= link_to truckload_path(@truckload), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "#{t('.delete_confirm')}: #{@truckload.dt_number}?" } do %>
      <i class="fas fa-trash"></i>
      <%= t('.delete') %>
    <% end %>
  <% end %>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills flex-column" id="cardPillVertical" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="overview-pill-vertical" href="#overviewPillVertical" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">
              <%= t('.general') %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="example-pill-vertical" href="#examplePillVertical" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false">
              <%= t('.client') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="cardPillContentVertical">
          <div class="tab-pane fade show active" id="overviewPillVertical" role="tabpanel" aria-labelledby="overview-pill-vertical">
            <table class="table">
              <tr>
                <th><%= t('.dt_number') %></th>
                <td><%= @truckload.dt_number %></td>
              </tr>
              <tr>
                <th><%= t('.value_driver') %></th>
                <td><%= number_to_currency(@truckload.value_driver) %></td>
              </tr>
              <tr>
                <th><%= t('.is_agent') %>?</th>
                <td><%= translate_boolean(@truckload.is_agent) %></td>
              </tr>
              <tr>
                <% if @truckload.ctes_numbers.count > 1 %>
                  <th><%= t('.cte_number.other') %></th>
                <% else %>
                  <th><%= t('.cte_number.one') %></th>
                <% end %>
                <td>
                <% @truckload.cte.each do |cte| %>
                  <%= link_to cte_path(cte.id) do %>
                    <li><%= cte.cte_number %> - <%= number_to_currency(cte.value) %></li>
                  <% end %>
                <% end %>
              </tr>
              <tr>
                <th><%= t('.created_at') %></th>
                <td><%= l(@truckload.created_at, format: '%d/%m/%Y às %H:%M') %></td>
              </tr>
              <tr>
                <th><%= t('.updated_at') %></th>
                <td><%= l(@truckload.updated_at, format: '%d/%m/%Y às %H:%M') %></td>
              </tr>
              <% if user_owner?(current_user) || user_master?(current_user) %>
                <tr>
                  <th><%= t('.created_by') %></th>
                  <td><%= @truckload.user.person.first_name %> <%= @truckload.user.person.last_name %></td>
                </tr>
              <% end %>
              <% if user_master?(current_user) %>
                <tr>
                  <th><%= t('.enterprise') %></th>
                  <td><%= @truckload.user.enterprise.company_name %></td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="tab-pane fade" id="examplePillVertical" role="tabpanel" aria-labelledby="example-pill-vertical">
            <table class="table">
              <tr>
                <th><%= t('.client') %></th>
                <td><%= @truckload.client.company_name %></td>
              </tr>
              <tr>
                <th><%= t('.document_number') %></th>
                <td><%= @truckload.client.document_number.to_br_cnpj %></td>
              </tr>
              <tr>
                <th><%= t('.address_zip_code') %></th>
                <td><%= @truckload.client.address.zip_code %></td>
              </tr>
              <tr>
                <th><%= t('.address_street') %></th>
                <td><%= @truckload.client.address.street %></td>
              </tr>
              <tr>
                <th><%= t('.address_number') %></th>
                <td><%= @truckload.client.address.number %></td>
              </tr>
              <tr>
                <th><%= t('.address_complement') %></th>
                <td><%= @truckload.client.address.complement %></td>
              </tr>
              <tr>
                <th><%= t('.address_neighborhood') %></th>
                <td><%= @truckload.client.address.neighborhood %></td>
              </tr>
              <tr>
                <th><%= t('.address_city') %></th>
                <td><%= @truckload.client.address.city %></td>
              </tr>
              <tr>
                <th><%= t('.address_state') %></th>
                <td><%= @truckload.client.address.state %></td>
              </tr>
              <tr>
                <th><%= t('.address_country') %></th>
                <td><%= @truckload.client.address.country %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

